<center><h1>See Crimes in your Area</h1><center>
		<h2>Using data from police.uk<h2>

<h3><%= link_to "Sign up", new_user_registration_path, :class => "btn"%>
</br>
<%= link_to "Login", user_session_path, :class => "btn"%>
</br>
<%= link_to "Sign out", destroy_user_session_path,:method=>'delete', :class => "btn"%>
<div></div></h3>

<div id="map-canvas"></div>

<div id="crime-chart"></div>

<div id="comments">
  <%= render 'comments/comments_list' %>
</div>

<div id="new-comment-box">
  <%= form_for @comment, :remote => true, :authenticity_token => true, :id => "comment-form" do |f| %>
    <%= f.text_area :content, :cols => 65, :rows => 5, :placeholder => "Your comment...", :id => "new-comment" %></br>
    <%= f.submit %>
  <% end %>
</div>

