<!DOCTYPE html>
<html>
<head>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfvHzBJvdyMl6sX1XjXEz-j02_q95TQ8k&sensor=false">
  </script>

  <title>Police-Uk Map</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
